/* .video-container {
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.07);
  width: 350px;
  z-index: 51;
} */
.list-item{
  /* width: 180px; */
  transition: all 200ms;
  transform: scale(1);
}
.list-item img{
  max-width: 160px;
}
.list-item:hover{
  transform: scale(1.1);
}
.list-item:hover .show-button{
  display: flex;
}
.list-item:not(:first-child) > .video-container {
  left: -50px;
}

/* .img-height{
  max-height: 220px;
} */