.video-container {
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.07);
  width: 350px;
  /* transition: all 20000ms ease-in-out; */
  /* transform: translateX(-50); */
}
.list-item {
}
.list-item:not(:first-child) > .video-container {
  left: -50px;
}
