.header-background {
  background: url("../../../public/images/theBatman.png") center center
    no-repeat;
  background-size: cover;
}

.movie-summery {
  max-width: 600px;
}
.main-page-footer {
  max-width: 1000px;
  color: #757575;
}
.main-page-footer-list > li {
  width: 24%;
}
.main-page-footer-list > li:hover a {
  text-decoration: underline;
}
.slider-arrow {
  background: rgba(22, 22, 22, 0.5);
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 420px) {
  .main-page-footer-list li {
    width: 48%;
  }
}
@media screen and (min-width: 420px) {
  .main-page-footer-list li {
    width: 48%;
  }
}
@media screen and (min-width: 768px) {
  .main-page-footer-list li {
    width: 24%;
  }
}
