.story-card {
  background-image: url("../../../public/images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.background-gradient {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    rgba(0, 0, 0, 0.2);
}
.our-story-card {
  max-width: 960px;
}

.border-bottom {
  border-bottom: 8px solid #222;
}
.nav-bg{
  background-color: rgba(0, 0, 0, .85);
}
.profile-dropdown-options {
  display: none;
  top: 80%;
  left: -42%;
}
.profile-dropdown:hover .profile-dropdown-options {
  display: flex !important;
}
.searchbox{
  background-color: rgba(0, 0, 0, .6);
  transform-origin: right;
  transform: scaleX(0);
  display: none;
  transition: all 200ms;
}
.show-searchbox{
  transform: scaleX(1);
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .profile-dropdown-options {
    top: 120%;
    left: -35%;
  }
}
@media screen and (min-width: 1024px) {
  .profile-dropdown-options {
    top: 100%;
    left: -42%;
  }
}